body{
    font-family: Arial, Helvetica, sans-serif;
}
.bg{
    background-color:lightgray;
    text-align: center;
}
.t{
    text-align: center;
}
.dot{
   font-size: 5px;
   position: absolute;
   top: 262px ; 
   left: 220px ;
}
.a{


}